<!DOCTYPE html>
<html>
<head>
    <title>HE</title>
    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/jquery-cookie/jquery.cookie.js"></script>
    <script src="/static/lib/crypto-js/rollups/md5.js"></script>
    <script src="/static/lib/fingerprint/fingerprint.js"></script>
    <script src="/static/lib/ua-parser-js/src/ua-parser.min.js"></script>
    <script src="/static/he.js"></script>

    <script>
        function handleResolvedUserData(data) {
            console.log('Received token: ' + data.tokenId);
            $('#token').text(data.tokenId);
        }

        function handleError(err) {
            console.error('Caught an error: ' + err);
        }

        HE.init({
            applicationId: 'somefancyapplicationid',
            clientAppKey: 'I1OpZaPfBcI378Bt7PBhQySW5Setb8eb',
            clientAppSecret: 'k4l1RXZGqMnw2cD8',
            cookiesAllowed: true
        }).getToken(
            '491741863437',
            handleResolvedUserData,
            handleError
        );
    </script>
</head>
<body>
	<h1>Static page with he.js under https</h1>
    <h3>Received token: <span id="token"></span></h3>
</body>
</html>