<!DOCTYPE html>
<html>
<head>
    <title>HE</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fingerprintjs/v0.5.1/fingerprint.js"></script>
    <script src="/static/he.js"></script>

    <script>
        function handleResolvedUserData(data) {
            console.log(data);
        }

        HE.init({
            httpHostedPage: 'http://login.incubation.vodafone.com/static/intermediatehttp.html',
            redirectUrl: window.location
        }).resolveUser(
            handleResolvedUserData
        );
    </script>
</head>
<body>
	<h1>Static page with he.js under https</h1>
</body>
</html>