<!DOCTYPE html>
<html>
<head>
    <title>HE</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fingerprintjs/v0.5.1/fingerprint.js"></script>
    <script src="/static/persist-min.js"></script>
    <script src="/static/he.js"></script>

    <script>
        function handleResolvedUserData(data) {
            console.log(data.token);
        }

        HE.init({
            applicationId: 'somefancyapplicationid',
            resolveUserUrl: '//127.0.0.1:5000/users/tokens/',
            apixAuthUrl: '//127.0.0.1:5000/oauth/access-token/',
            cookiesAllowed: true
        }).resolveUser(
            handleResolvedUserData
        );
    </script>
</head>
<body>
	<h1>Static page with he.js under http</h1>
</body>
</html>