<!DOCTYPE html>
<html>
<head>
    <title>HE</title>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/persist-min.js"></script>
    <script src="/static/he.js"></script>

    <script>
        function handleResolvedUserData(data) {
            console.log(data);
        }

        HE.init({
            httpHostedPage: 'http://login.incubation.vodafone.com/static/intermediatehttp.html',
            redirectUrl: window.location
        }).resolveUser(
            handleResolvedUserData
        );
    </script>
</head>
<body>
	<h1>Static page with he.js under https</h1>
</body>
</html>