<!DOCTYPE html>
<html>
<head>
    <title>HE</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/persist-min.js"></script>
    <script src="/static/he.js"></script>

    <script>
        function handleResolvedUserData(data) {
            console.log(data);
        }

        HE.init({
            resolveUserUrl: '//127.0.0.1:5000/users/resolve/'
        }).getUserDetail(
            handleResolvedUserData
        );
    </script>
</head>
<body>
	<h1>Static page with he.js under http</h1>
</body>
</html>